<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/shopifyChallengeStyle.css" type ="text/css">
        <title>Shopify Frontend Challenge</title>
    </head>

    <body>
        <div class="container">

            <div class="row">
                <h1 id="title">Stay up to date with ecommerce trends <br> with Shopify's newsletter</h1>
            </div>

            <div class="row"><h2>Subscribe for free marketing tips</h2></div>

            <div class="row align-items-end">
                <div class="col">
                    <footer class="card-footer">Unsubscribe</footer>
                </div>
            </div>

        </div>
    </body>
</html>